{% extends 'base.html' %}

{% block title %} Nosotros {% endblock title %}

{% block content %}

    <div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>about me</h1>
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Alejandro</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Esteban</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>David</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Yeysner</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Jonatan</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imgs/imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Jprmo</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

{% endblock content %}