<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>about me</h1>
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Alejandro</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Esteban</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>David</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Yeysner</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Jonatan</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>

    <div class="wrapper">
        <div class="testimonial">
            <article>
                
                <img src="imagen.jpg" alt="">
                <blockquote>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </blockquote>
                <h5>Jprmo</h5>
                <p>Lorem ipsum dolor sit amet.</p>
            </article>
        </div>
    </div>
</body>
</html>