<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
                <span>DjangoStore</span>
            </div>
            <ul>
                <li><a href="#0">Inicio</a></li>
                <li><a href="#0">Productos</a></li>
                <li><a href="#0">Inicia Sesion</a></li>
                <li><a href="#0">Registrate</a></li>
                <li><a href="#0">sobre nosotros</a></li>
            </ul>
        </nav>
        <div class="content-header">
            <h1>DjangoStore</h1>
            <p>La mejor tienda en Django</p>
            <a href="#0">Empieza a Comprar</a>
        </div>           
    </header>
</body>
</html>