{% extends 'base.html' %}

{% block title %} Inicio {% endblock title %}

{% block content %}

    <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
                <span>DjangoStore</span>
            </div>
            <ul>
                <li><a href="#0">Inicio</a></li>
                <li><a href="#0">Productos</a></li>
                <li><a href="#0">Inicia Sesion</a></li>
                <li><a href="#0">Registrate</a></li>
                <li><a href="#0">sobre nosotros</a></li>
            </ul>
        </nav>
        <div class="content-header">
            <h1>DjangoStore</h1>
            <p>La mejor tienda en Django</p>
            <a href="#0">Empieza a Comprar</a>
        </div>           
    </header>

{% endblock content %}