<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Store{% endblock title %}</title>
    {% load static %} <!-- Cargamos archivos estaticos (CSS, JS..) -->
    <!-- login/registro -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <!-- productos -->
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    <!-- home -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- about -->
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <!-- Las sentencias {% comment %}  {% block %} {% endcomment %} son los templates tag de Django que nos ayudan a reutilizar
    lo que maquetamos en el HTML de manera que no estemos repitiendo las mismas cosas en cada
    plantilla y así nos ahorramos tiempo de carga de la app ya algunos archivos los tendra en 
    memoria guardados y así no tiene que mostrar toda una pagina por completo -->

    <!-- Definimos estas sentencias {% block nombre_del_bloque %} y terminamos con un {% endblock %},
    y con este mismo nombre de bloque ponemos en otros templates que tnegamos y sabemos que esa es la 
    parte que estamos usando, en este caso, el bloque 'content' es el más generico y es el que usaremos en 
    todas las plantillas para poder mostrar contenido -->

    <!-- Por fuera de los bloques se pone lo que todas las plantillas comparten -->
    <!-- <header class="main-header">
        <nav class="main-nav">
            <div class="logo">
                <a href=""><img src="../static/imgs/logo.png" alt=""> <p>.Store</p></a> 
                <!-- <span>DjangoStore</span> -->
            <!-- </div>
            <ul>
                <li><a href="{% url 'app_productos:home' %}">Inicio</a></li>
                <li><a href="{% url 'app_productos:lista_productos' %}">Productos</a></li>
                <li><a href="{% url 'app_usuarios:login' %}">Inicia Sesion</a></li>
                <li><a href="{% url 'app_usuarios:registrar' %}">Registrate</a></li>
                <li><a href="{% url 'app_productos:about' %}">Sobre nosotros</a></li>
            </ul>
        </nav>          -->
   <!-- </header> -->

   <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'app_productos:home' %}"><img src="../static/imgs/logo.png" alt=""> <p>.Store</p></a> 
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'app_productos:home' %}">Inicio</a></li>
                        <li><a href="{% url 'app_productos:lista_productos' %}">Productos</a></li>
                        <li><a href="{% url 'app_usuarios:login' %}">Inicia Sesion</a></li>
                        <li><a href="{% url 'app_usuarios:registrar' %}">Registrate</a></li>
                        <li><a href="{% url 'app_productos:about' %}">Sobre nosotros</a></li>
                    </ul>
                </nav>
                <img src="../static/imgs/icono_3.png" width="70" height="55" alt="">
                <img src="../static/imgs/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>


    {% block content %}

    {% endblock content %}

     <!-- footer -->

     <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Descarga Nuestra App</h3>
                    <p>Descarga nuestra App movil para Android y IOS</p>
                    <div class="app-logo">
                        <img src="../static/imgs/play-store.png" alt="">
                        <img src="../static/imgs/app-store.png" alt="">
                    </div>
                </div>
                <!-- <div class="footer-col-2">
                    <div class="logo">
                        <a href=""><img src="../static/imgs/logo.png" alt=""> <p>.Store</p></a> 
                    </div>
                </div> -->
                <div class="footer-col-3">
                    <h3>Otros Links</h3>
                    <ul>
                        <li>Cupones</li>
                        <li>Blog</li>
                        <li>Politicas de Retorno</li>
                        <li>Afiliarse</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Siguenos</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Django Store</p>
        </div>
    </div>

</body>
</html>