@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
    line-height: 1.5;
    letter-spacing: 1px;
}

.testimonial{
    padding: 30px 100px;
}

article h1{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

article h1:after{
    content: "";
    height: 5px;
    width: 225px;
    background-color: black;
    display: block;
    margin: auto;
}

article img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 60px;
}

blockquote{
    font-family: sans-serif;
    font-size: 22px;
    margin-top: 30px;
}

article h5{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}

article p{
    font-size: 17px;
}

