@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.content-header {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Dosis', sans-serif;
    
}

.content-header .title_pag{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-header.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../imgs/imagen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    /* position: relative; */
}

.main-header {
    position: absolute;
    z-index: 1;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

.main-nav {
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 2rem;
    color: rgba(10, 107, 47, 0.877);
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
    list-style: none;
}

ul li a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
    font-size: 1.1rem;
}

ul li a:hover {
    background: rgba(10, 107, 47, 0.877);
    border-radius: 5px;
}

.content-header h1 {
    font-size: 7rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
    color: #fff;
}

.content-header a {
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px;
    background: rgb(3, 82, 39);
    color: #fff;
    border-radius: 10px;
}

.content-header a:hover {
    background: #418f71;
    border: 2px solid #fff;
    padding: 13px 18px;
}