{% extends 'base.html' %}

{% block title %} Productos {% endblock title %}

{% block content %}

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h1>Para Codear <br> con Estilo!</h1>
                    <a href="" class="btn">Ver Productos &#10132;</a>
                </div>
                <div class="col-2">
                    <div id="cf">
                        <img class="bottom" src="imgs/grafico1.jpg" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Productos -->
    <div class="small-container">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            {% for producto in productos %}
                <div class="col-4">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.descripcion }}">
                    <h4>{{ producto.nombre }}</h4>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <p class="parrafo_div negro">Precio: {{ producto.precio }}</p>
                    <p class="parrafo_div">Cantidad: {{ producto.stock }}</p>
                    {% if user.is_authenticated %} 
                    <a class="a_ed" style="color: blue;" href="{% url 'app_productos:editar_producto' producto.pk %}">Editar</a>
                    <a class="a_ed" style="color: blue;" href="{% url 'app_productos:eliminar_producto' producto.pk %}">Eliminar</a>
                    {% endif %}
                </div>
            {%endfor%}
        </div>
    </div>
    
{% endblock content %}