{% extends 'base.html' %}

{% block title %} Productos {% endblock title %}

{% block content %}

    <div class="header">
        <div class="container">
            <!-- <div class="navbar">
                <div class="logo">
                    <a href=""><img src="imgs/logo.png" alt=""> <p>.Store</p></a> 
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contactar</a></li>
                        <li><a href="">Mi Cuenta</a></li>
                    </ul>
                </nav>
                <img src="imgs/icono_3.png" width="70" height="55" alt="">
                <img src="imgs/menu.png" class="menu-icon" onclick="menutoggle()">
            </div> -->
            <div class="row">
                <div class="col-2">
                    <h1>Para Codear <br> con Estilo!</h1>
                    <a href="" class="btn">Ver Productos &#10132;</a>
                </div>
                <div class="col-2">
                    <div id="cf">
                        <img class="bottom" src="imgs/grafico1.jpg" alt="">
                        <!-- <img class="top" src="imgs/grafico2.jpg" alt=""> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Categorias -->
    <!-- <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="imgs/1.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="imgs/2.jpg" alt="">
                </div>
                <div class="col-3">
                    <img src="imgs/3.jpg" alt="">
                </div>
            </div>
        </div>       
    </div> -->

    <!-- Productos -->
    <div class="small-container">
        <h2 class="title">Productos Destacados</h2>
        <div class="row">
            <div class="col-4">
                <img src="imgs/1.jpg" alt="">
                <h4>Camiseta Vue</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/2.jpg" alt="">
                <h4>Camiseta Angular</h4> 
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>               
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/3.jpg" alt="">
                <h4>Camiseta React</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div> 
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/4.jpg" alt="">
                <h4>Camiseta Redux</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
        </div>
        <h2 class="title">Nuevos Productos</h2>
        <div class="row">
            <div class="col-4">
                <img src="imgs/5.jpg" alt="">
                <h4>Camiseta Node</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/6.jpg" alt="">
                <h4>Camiseta Sass</h4> 
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>               
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/7.jpg" alt="">
                <h4>Camiseta Html</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div> 
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/8.jpg" alt="">
                <h4>Camiseta Github</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="imgs/9.jpg" alt="">
                <h4>Camiseta Bulma</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/10.jpg" alt="">
                <h4>Camiseta Typescript</h4> 
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>               
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/11.jpg" alt="">
                <h4>Camiseta Drupal</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div> 
                <p>$20.00</p>
            </div>
            <div class="col-4">
                <img src="imgs/12.jpg" alt="">
                <h4>Camiseta Javascript</h4>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <p>$20.00</p>
            </div>
        </div>
    </div>

    <!-- footer -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Descarga Nuestra App</h3>
                    <p>Descarga nuestra App movil para Android y IOS</p>
                    <div class="app-logo">
                        <img src="imgs/play-store.png" alt="">
                        <img src="imgs/app-store.png" alt="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <div class="logo">
                        <a href=""><img src="imgs/logo.png" alt=""> <p>.Store</p></a> 
                    </div>
                </div>
                <div class="footer-col-3">
                    <h3>Otros Links</h3>
                    <ul>
                        <li>Cupones</li>
                        <li>Blog</li>
                        <li>Politicas de Retorno</li>
                        <li>Afiliarse</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Siguenos</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - Django Store</p>
        </div>
    </div>

    <!-- js para el menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems")

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px"
            }
            else{
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
    
{% endblock content %}